.metadata
tmp/
bin/*
!bin/createlink.sh

*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.classpath

# Docs
docs/_build/*

# Titan
.TITAN_properties

# TDL
.aird
.tdl

# Logs
*.log

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject
compile
*.o

# Californium
Californium.properties

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# Code Recommenders
.recommenders/
/ttcn3build/
/bin/
